body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}